<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Inventory Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-row>
    <ion-col size="12" size-sm="4" offset-sm="4">
      <ion-searchbar search-outline="ios" inputmode="text" color="light" (keyup)="updateFilter($event)" (ionClear)="clearInput($event)" ></ion-searchbar>
    </ion-col>
    <ion-col size="12" size-sm="10" offset-sm="1">
      <ion-card *ngFor="let invData of dataToBeShown" class="inventory">
        <ion-card-header color="medium">
          <ion-card-title class="ion-text-center">
          {{invData.productDesc}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm="4">
                <ion-label color="primary">Product Code : </ion-label> <ion-text>{{invData.productCode}}</ion-text>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <ion-label color="primary">Opening Quantity : </ion-label> <ion-text>{{invData.openingQty}}</ion-text>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <ion-label color="primary">Purchase Quantity : </ion-label> <ion-text>{{invData.purchaseQty}}</ion-text>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <ion-label color="primary">Sales Quantity : </ion-label> <ion-text>{{invData.salesQty}}</ion-text>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <ion-label color="primary">Close Quantity : </ion-label> <ion-text>{{invData.closingQty}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
