.qtyType{
    font-size:1.2rem !important;
    position: relative !important;
    top: 20px !important;
    left: 5px;
    margin: 0 auto !important;
 }

 .delete{
     height: 3.8em;;
 }

 .newSalesOrder, .rawMaterial{
    border-radius: 25px;
 }