<ion-content color="secondary">
  <ion-row>
    <ion-col size="12" size-sm="4" offset-sm="4">
      <ion-searchbar search-outline="ios" inputmode="text" color="light" (keyup)="updateFilter($event)" (ionClear)="clearInput($event)" ></ion-searchbar>
    </ion-col>
    <ion-col size="12" size-sm="10" offset-sm="1">
      <ion-card *ngFor="let salesOrderData of dataToBeShown" class="salesOrder">
        <ion-card-header color="medium">
          <ion-card-title class="ion-text-center">
            Sales Order for {{salesOrderData.customerProductDesc}} on {{salesOrderData.salesOrderDate | date: 'dd/MM/yyyy'}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm="4">
                <ion-label color="primary">Customer : </ion-label> <ion-text>{{salesOrderData.customer}}</ion-text>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <ion-label color="primary">Product Code : </ion-label> <ion-text>{{salesOrderData.customerProductCode}}</ion-text>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <ion-label color="primary">Sales Order Id : </ion-label> <ion-text>{{salesOrderData.salesOrderId}}</ion-text>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <ion-label color="primary">Quantity : </ion-label> <ion-text>{{salesOrderData.customerQuantity}}</ion-text>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <ion-label color="primary">Rate : </ion-label> <ion-text>{{salesOrderData.discount}}</ion-text>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <ion-label color="primary">Total Amount : </ion-label> <ion-text>{{salesOrderData.cgst}}</ion-text>
              </ion-col>
              <ion-col size="12" size-sm="4">
                <ion-label color="primary">Payment : </ion-label> <ion-text>{{salesOrderData.sgst}} </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
