.card-title{
    text-align: center;
}
.addCustButton{
    margin-top: 0;
    padding-top: 0;
}
ion-searchbar {
    --border-radius: 25px;
    --background: var(--ion-color-primary);
}
.custListClass{
    border-radius: 25px;
}

ion-card-content{
    padding-top: 0;
}
