.active{
    --ion-text-color: var(--ion-color-primary);
    ion-icon{
        --ion-text-color-rgb: var(--ion-color-primary);
    }
}
.highlight{
    --ion-text-color: var(--ion-color-primary);
    ion-icon{
        --ion-text-color-rgb: var(--ion-color-primary);
    }
}
.active-parent{
    font-weight: 500;
}
.sub-item{
    padding-left:35px;
    font-size: medium;
}
.sub-sub-item{
    padding-left:40px;
    font-size: medium;
}
