.card-title{
    text-align: center;
}

ion-item{
    --min-height:69px;
}
.qtyType{
    font-size:1.2rem !important;
    position: relative !important;
    top: 20px !important;
    left: 5px;
    margin: 0 auto !important;
 }

 .sales{
     border-radius: 25px;
 }

 @media (min-width: 680px) {
    .sales{
        border-radius: 25px;
        top: 20px;
     }
 }